/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

# Framework @ Sniper Front-End 3 - https://github.com/h1dd3nsn1p3r/sniper-front-end

# Package @ Your_project_name

# Author @ Anuj Subedi

# Author Url @ http://anujsubedi.com.np/

# License MIT ( Free to use & changes for persional and commercial uses )

# Since 2017 Nov 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

**/

// This is variable scss file. Define some variables that you could use in project later

// Import color file here

@import 'color';



// Define variables for color


$primary_color:;
$secondary_color:;



// Define variable for fonts

$primary_font: 'Lato', sans-serif;
$secondary_font:;


